
.dark {
    color: white;
    background-color: hsl(0, 0%, 0%);
}


.primary {
    color: white;
    background-color: #0d6efd;
}


.success {
    color: white;
    background-color: #198754;
}


.warning {
    color: white;
    background-color: #ffc107;
}


.danger {
    color: white;
    background-color: #dc3545;
}


